<b><%= @area_nicename %></b> going <b><%= @direction %></b> at <b><%= @time.strftime("%H:%M") %></b>
<ul>
  <% @buses.each do |bus| %>
    <% if bus["expected_departure_time"] %>
      <li><b><%= bus["line"] %></b> to <%= bus["direction"] %> at <b><%= bus["best_departure_estimate"] %></b></li>
    <% else %>
      <li>(<b><%= bus["line"] %> to <%= bus["direction"] %> <b>scheduled <%= bus["best_departure_estimate"] %></b>)</li>
    <% end %>
  <% end %>
</ul>
